body{
    background-color: none;
}

#header {
    width:100%;
    background-color: beige;
}

#nav {
    width 100%;
    background-color: aqua;
}

.menu {
    display: flex;
    background-color: #eaf5ff;
    justify-content: space-around;
    list-style-type: none;
}

#main-content-wrapper {
    background-color: greenyellow;
    width: 80%;
}
